/*-- scss:defaults --*/



// colors
$body-bg: 		#E7E7E7 !default;
$body-color: 	#282828 !default;
$link-color: 	#00564d !default;
$selection-bg: #26351c !default;
$presentation-font-size-root:	30px;

// headings
$presentation-heading-color: 	#00564d !default;
$presentation-h1-font-size: 1.8em;
$presentation-h2-font-size: 1.4em;
$presentation-h3-font-size: 1.2em;


$callout-style-font-size: .5em;
$callout-style-font-weight: 400;

$slide-logo-size: 200px;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}